  
body
{
    width: 70%;
    margin: 0 auto;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(165, 42, 42);
}

div
{
    border-radius: 10px;
}

.topo_links
{
    display: flex;

}

.Direita
{
    justify-content: flex-end;
}

.Centro
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    
}


.Inicio
{
    justify-content: flex-start;
}

.Titulo
{
    background-color: bisque;
    text-align: center;
    padding: 80px;
    
}

.empresa
{
    text-align: justify;
    padding: 20px;
}

.conceito
{

    background-color: rgba(103, 103, 103, 0.562);
    text-align: justify;
    padding: 20px;
}

.galeria
{
    display: inline-block;
    width: 25%;
    margin-right: 3.33%;
    padding: 5px;
}

.galeria_div
{
    text-align: center;
    padding: 20px;
}

.servico
{
    padding: 20px;
}

.galeria_geral
{
    background-color: rgba(103, 103, 103, 0.562);
    padding: 20px;
}

.galeria_texto
{
    text-align: justify;
}

.contato
{
    padding: 20px;
    text-align: justify;
}

.rodape
{
    background-color: rgba(103, 103, 103, 0.562);
    padding: 20px;
}